- if task.errors.any?
  .errors
    %h3= t('errors.messages.count', count: task.errors.count)
    .messages
      %ul
        - task.errors.full_messages.each do |message|
          %li= message

= form_for task do |f|
  %table#form
    - if params[:action] == 'edit'
      %tr
        %th.title= f.label :id
        %td.input_disabled= task.id
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :description
      %td= f.text_area :description
    %tr
      %th= f.label :status
      %td
        = f.select :status,
          Task.statuses.keys.map { |k| [t("task.status.#{k}"), k] },
          include_blank: t('select.default')
    %tr
      %th= f.label :priority
      -# %td= f.select :priority, priority_selection
      %td
        = f.select :priority,
          Task.priorities.keys.map { |k| [t("task.priority.#{k}"), k] },
          include_blank: t('select.default')
    %tr
      %th= f.label :started_on
      %td= f.date_field(:started_on)
    %tr
      %th= f.label :ended_on
      %td= f.date_field(:ended_on)
    %tr
    - if params[:action] == 'edit'
      %td{ colspan:2, align: 'center' }
        = f.submit t('submit.edit')
    - else
      %td{ colspan:2, align: 'center' }
        = f.submit t('submit.new')
