<h2>編集画面！</h2>

<hr>
<%= form_for @task, url: task_path(@task) do |f| %>
  <table>
    <tr>
      <td class="title">ID</td>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <td class="title">課題名</td>
      <td><%= f.text_field :name, placeholder: '課題名を登録' %></td>
    </tr>
    <tr>
      <td class="title">説明</td>
      <td><%= f.text_area :description, placeholder: '説明' %></td>
    </tr>
    <tr>
      <td class="title">ステータス</td>
      <td>  <%= select :task, :status, [['未着手', "created"], ['着手', "doing"], ['完了', "done"]] %></td>
    </tr>
    <tr>
      <td class="title">優先度</td>
      <td><%= select :task, :priority, [['高', "high"], ['中', "middle"], ['低', "low"]] %></td>
    </tr>
    <tr>
      <td class="title">開始日</td>
      <td><%= date_field(:task, :started_at) %></td>
    </tr>
    <tr>
      <td class="title">終了日</td>
      <td><%= date_field(:task, :ended_at) %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
<hr>
<%= link_to "一覧へ" ,root_path %>
／<%= link_to "削除", @task, method: :delete , data: { confirm: 'Are you sure?' } %>
