= render 'layouts/task/header', page_title: @page_title

%table
  %tr
    %td.add{ colspan: 8, align: 'right' }
      = link_to '新規作成', new_task_path
  %tr
    %th ID
    %th name
    %th description
    %th status
    %th priority
    %th started_at
    %th ended_at
    %th menu
  - @tasks.each do |task|
    %tr
      %td.row
        = task.id
      %td.row
        = task.name
      %td.row
        = task.description
      %td.row
        = task.status
      %td.row
        = task.priority
      %td.row
        = task.started_at
      %td.row
        = task.ended_at
      %td.row.menu
        = link_to '詳細', task_path(task)
        ／#{link_to '編集', edit_task_path(task)}
        ／#{link_to '削除', task, method: :delete , data: { confirm: 'Are you sure' }}

= render 'layouts/task/footer'
