<h2>タスク一覧画面</h2>
<% if flash[:success] %>
  <div class="flash success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<table>
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>description</th>
    <th>status</th>
    <th>priority</th>
    <th>started_at</th>
    <th>ended_at</th>
    <th>menu</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td>
      <%= task.id %>
    </td>
    <td>
      <%= task.name %>
    </td>
    <td>
      <%= task.description %>
    </td>
    <td>
      <%= task.status %>
    </td>
    <td>
      <%= task.priority %>
    </td>
    <td>
      <%= task.started_at %>
    </td>
    <td>
      <%= task.ended_at %>
    </td>
    <td class="menu">
      <%= link_to "詳細", task_path(task) %>
      ／<%= link_to "編集", edit_task_path(task) %>
      ／<%= link_to "削除", task, method: :delete , data: { confirm: 'タスクを削除します。よろしいですか?' } %>
    </td>
  </tr>
  <% end %>
</table>
<hr>
<div>
  <%= link_to "新規作成", new_task_path %>
</div>
