= render 'layouts/header', page_title: @page_title

.container
  #search
    = search_form_for @q do |f|
      .form-row
        .form-group.col-md-6
          = f.label Task.human_attribute_name :name
          = f.search_field :name_cont, class: 'form-control'
        .form-group.col-md-3
          = f.label Task.human_attribute_name :status,
            class: 'control-label'
          = f.select :status_eq,
            Task.statuses.map { |k, v| [t("task.status.#{k}"), v] },
            { include_blank: t('select.default') },
            { class: 'form-control' }
        .form-group.col-md-3
          = f.label Task.human_attribute_name :priority, class: 'control-label'
          = f.select :priority_eq,
            Task.priorities.map { |k, v| [t("task.priority.#{k}"), v] },
            { include_blank: t('select.default') },
            { class: 'form-control' }
      .form-row
        .form-group.col-md-11
        .form-group.col-md-1
          = f.submit t('submit.search'), class: 'btn btn-primary'

  %table#index.table.table-striped
    %tr
      %th
        = Task.human_attribute_name :id
      %th
        = Task.human_attribute_name :name
      %th
        = Task.human_attribute_name :status
      %th
        = sort_link @q, :priority, Task.human_attribute_name(:priority)
      %th
        = Task.human_attribute_name :user
      %th
        = Task.human_attribute_name :started_on
      %th
        = sort_link @q, :ended_on, Task.human_attribute_name(:ended_on)
      %th
        = sort_link @q, :created_at, Task.human_attribute_name(:created_at)
      %th
        = t('index.label.action')
    - @tasks.each do |task|
      %tr
        %td
          = task.id
        %td
          = task.name
        %td
          = t("task.status.#{task.status}")
        %td
          = t("task.priority.#{task.priority}")
        %td
          = task.user.name if task.user
        %td
          = task.started_on
        %td
          = task.ended_on
        %td
          = task.created_at
        %td.menu
          = link_to t(:link_to_show), task_path(task)
          ／
          = link_to t(:link_to_edit), edit_task_path(task)
          ／
          = link_to t(:link_to_delete), task, method: :delete , data: { confirm: t('confirm.delete', target: Task.model_name.human) }

  .pager
    = paginate @tasks

= render 'layouts/task/footer'
