= render 'layouts/task/header', page_title: @page_title

%table
  %tr
    %td.title ID
    %td.input_disabled= @task.id
  %tr
    %td.title 課題名
    %td.input_disabled= @task.name
  %tr
    %td.title 説明
    %td.input_disabled= @task.description
  %tr
    %td.title ステータス
    %td.input_disabled= @task.status
  %tr
    %td.title 優先度
    %td.input_disabled= @task.priority
  %tr
    %td.title 開始日
    %td.input_disabled= @task.started_at
  %tr
    %td.title 終了日
    %td.input_disabled= @task.ended_at
  %tr
    %td.title 作成日時
    %td.input_disabled= @task.created_at
  %tr
    %td.title 更新日時
    %td.input_disabled= @task.updated_at

= render 'layouts/task/footer', task: @task
