= render 'layouts/task/header', page_title: @page_title

%table#disp
  %tr
    %th= Task.human_attribute_name :id
    %td= @task.id
  %tr
    %th= Task.human_attribute_name :name
    %td= @task.name
  %tr
    %th= Task.human_attribute_name :description
    %td= @task.description
  %tr
    %th= Task.human_attribute_name :status
    %td= t("task.status.#{@task.status}")
  %tr
    %th= Task.human_attribute_name :priority
    %td= t("task.priority.#{@task.priority}")
  %tr
    %th= Task.human_attribute_name :started_on
    %td= @task.started_on
  %tr
    %th= Task.human_attribute_name :ended_on
    %td= @task.ended_on
  %tr
    %th= Task.human_attribute_name :created_at
    %td= @task.created_at
  %tr
    %th= Task.human_attribute_name :updated_at
    %td= @task.updated_at

= render 'layouts/task/footer', task: @task
